body{
  font-family: 'Rajdhani', sans-serif;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../img/back-ground.JPG"); */
  background-size:100% auto;
 }

h1{
  text-align: center;
  font-size: 10vw;
  font-weight: bold;
}

ul{
  list-style: none;
}

.main-body{
  margin: 0 auto;
}

.follow-list{
  font-size: 1.6rem;
  font-weight: 400;
  margin-top:  2vw;
  justify-content: center;
  color: White;
}

.follow-list li{
  padding: 1rem;
  margin: 0 3vw;
  text-align: center;
  width: 16rem;
  height: 6rem;
}

.follow-list a{
  text-decoration: none;
  color: White;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-list p{
  margin-right: 0;
  margin-left: auto;
}
.folloe-list-img{
  width: 4rem;
  height: 4rem;
}

.follow-twitter{
  background-color:#00acee;
}
.follow-facebook{
  background-color:	#3b5998;
}
.facebook-icon{
  width: 2.6rem;
}
@media all and (min-width: 981px) {
 .follow-list {
   display: flex;
 }
}
